* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #171717;
}
.perfil{
  display: none;
  width: 1200px;
  align-items: center;
  justify-content: space-around;
}
h1{
  font-size: 52px;
  color: #e3e3e3;
}
h2{
  width: 100%;
  font-size: 32px;
  color: #8d8d8d;
  margin-bottom: 20px
}
.avatar{
  background-color: #ccc;
}
.seguidores{
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #e3e3e3;
}
.seguidores p{
  margin-bottom: 10px;
}
.followers{
  display: flex;
  flex-direction: column;
}
.followers button{
  border: none;
  background-color: #111;
  color: #ccc;
  padding: 5px 32px;
  font-size: 21px;
}
.following{
  display: flex;
  flex-direction: column;
}
.following button{
  border: none;
  background-color: #111;
  color: #ccc;
  padding: 5px 32px;
  font-size: 21px;
}
.form{
  background-color: #222;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}
.form h3{
  font-size: 32px;
  color: #e3e3e3;
  margin-bottom: 20px;
}
label{
  color: #e3e3e3;
  font-size: 20px;
}
input{
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: start;
  padding-left: 10px;
}
.form button{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: rgb(2, 104, 2);
  color: #e3e3e3;
  margin-top: 10px;
  cursor: pointer;
}