* {
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil{
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 52px;
  color: #111;
}
h2{
  width: 100%;
  font-size: 32px;
  color: #222;
}
.avatar{
  background-color: #111;
}
.seguidores{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.followers{
  display: flex;
  flex-direction: column;
}
.followers button{
  border: none;
  background-color: #ccc;
  color: #111;
  padding: 5px 12px;
}
.following{
  display: flex;
  flex-direction: column;
}
.following button{
  border: none;
  background-color: #ccc;
  color: #111;
  padding: 5px 12px;
}