* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #171717;
}
.perfil{
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-around;
}
h1{
  font-size: 52px;
  color: #e3e3e3;
}
h2{
  width: 100%;
  font-size: 32px;
  color: #8d8d8d;
  margin-bottom: 20px
}
.avatar{
  background-color: #ccc;
}
.seguidores{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #e3e3e3;
}
.seguidores p{
  margin-bottom: 10px;
}
.followers{
  display: flex;
  flex-direction: column;
}
.followers button{
  border: none;
  background-color: #111;
  color: #ccc;
  padding: 5px 12px;
}
.following{
  display: flex;
  flex-direction: column;
}
.following button{
  border: none;
  background-color: #111;
  color: #ccc;
  padding: 5px 12px;
}